{% extends "base.html" %}
{% block title %} User Profile {% endblock %}
{% block content %}
<div class="container">
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <p>First Name: {{user.first_name}}</p>
    <p>Last Name: {{user.last_name}}</p>
    <a href="/logout"><button class="btn btn-primary">Logout</button></a>
    <form style="display:inline;">
        <button class="btn btn-danger" formaction="/users/{{user.username}}/delete" formmethod="POST">Delete User</button>
    </form>
</div>
<div class="container">
    <h3>Feedback Posts</h3>
    <a href="/users/{{user.username}}/feedback/add" class="btn btn-primary">Add Feedback</a>
    {% if feedback %}
        {% for feed in feedback %}
            <div class="card my-4">
                <div class="card-body">
                    <p>Title: {{feed.title}}</p>
                    <p>Content: {{feed.content}}</p>
                    <form style="display:inline;">
                        <button formaction="/feedback/{{feed.id}}/delete" formmethod="POST" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                        <button formaction="/feedback/{{feed.id}}/update" formmethod="GET" class="btn btn-sm btn-primary">Update</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}